:root {
	--main-color: #5A6885;
	--white: white;
	--discount-bg-1: #DBDEE5;
	--discount-bg-2: #FFF1EE;
	--discount-bg-3: #EAEAEA;
	--gender-color: #C7CDD7;
	--form-bg: #FFF1EE;
	--footer-bg: #DBDEE5;
	--placeholder-color: rgba(111, 119, 143, 0.6);
	--btn-action-hover: #637292;
	--btn-action-active: #3F4C67;
}